<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGVebaaJ4H7MfcXj1l4cnonSIVscpDBWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>144465513576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.datingapp</string>
	<key>PROJECT_ID</key>
	<string>cleaning-app-87923</string>
	<key>STORAGE_BUCKET</key>
	<string>cleaning-app-87923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144465513576:ios:20efbe505d9829d6e0bfdd</string>
</dict>
</plist>